.order-item{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 3px solid rgb(125, 141, 187);
	margin: 40px 0px;
	font-size: 20px;
}

.order-left{
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 100%;
}

.order-middle {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-right: 15px;
}

.order-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 200px;
	width: 100%;
}

.order-photo{
		max-width: 60px;
		width: 100%;
		margin: 0 15px;
}